html{
    overflow: hidden;
}

body {
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 0.6em;
    font-weight: normal;
    font-style: italic;
    z-index: 1000;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    object-fit: cover;
}

/* Second video blends with the first */
.blend {
    mix-blend-mode: overlay; /* try multiply, overlay, lighten, etc. */
    opacity: 0.8;           /* optional for intensity */
}

#info {
    display:flex;
    align-items: center;
    justify-content: center;
    width:50px;
    height:50px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 9;
    border: black 1px solid;
    text-align: center;
    cursor: pointer;
    position: fixed;
    z-index: 1100;
    margin:8px;
}

#localVideo {
    display: none;
}

#remoteVideo {
    display: none;
}

#load {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 13px;
}

#buttons {
    margin:8px;
    display: flex;;
    border-style: solid;
    border-width: 1px;
    width:200px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.3);
    top:100px;
    height: 80vh;
    backdrop-filter: blur(8px);
    border-radius: 8px;
}

#infoContainer {
    position: flex;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

p {
    margin: 10px 10px 8px 8px;
    font-size: 12px;
    color: #1d1d1d;
}

select {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px 10px 8px 10px;
    font-size: 12px;
    background: transparent;
    border-radius: 8px;
}

button {
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px 10px 8px 10px;
    background: transparent;
    border: 1px solid darkgray;
    border-radius: 8px;
    font-size: 0.65em;
    cursor: pointer;
}

#currentRoom {
    margin: 8px;
    font-size: 0.6em;
    width:180px;
}   

input[type="range"] {
    margin:0px;
    padding:0px;
    width: 180;
    -webkit-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 35px;
    border: 1px solid darkgray;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: darkgray;
    cursor: pointer;
    border-radius: 55px;
    border: 1px solid darkgray;
}

label {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px 10px 8px 10px;
    font-size: 0.6em;
}

@media (max-width: 600px) {
    body, #message {
        margin-top: 0;
        background: white;
        box-shadow: none;
    }
}
